<%= render('layouts/errors', object: @stoptime) %>

<%= form_for(@stoptime) do |f| %>
  <%= f.hidden_field :stop_id, value: @stop.id %>
  <div class="form-group">
    <%= f.label "Time" %>
    <%= f.time_field :name %>
  </div>
  <div class="form-group">
    <%= f.label "Which bus is stopping?" %>
    <%= collection_select(:stoptime, :bus_id, @buses, :id, :name, {:prompt => true})
 %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
